* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10px;
}

div {
    border: 3px solid black;
    height: 200px;
}

.heading{
    width: 98%;
    background-color: blueviolet;
}

.col{
    margin-top: 10px;
    width: 32%;
    display: inline-block;
}

.col-left {
background-color: maroon;
}

.col-mid {
background-color: lightgreen;
}

.col-right {
background-color: orange;
}