body {
    background-color: #6556cd;
    background-image: url(assets/circuit-pattern.png);
}


/*Navbar*/
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    background-color: #6adf82;
}

audio {
    color: #6adf82;
}

nav input {
    height: 10px;
    width: 25%;
    background-color: lightgray;
    transition: 0.2s;
    padding: 12px;
    color: darkgray;
    border-radius: 5px;
}

nav input:hover {
    background-color: rgb(220, 220, 220);
}

nav input:focus {
    background-color: rgb(239, 239, 239);
    color: black;
}

nav h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-size: 36px;
    padding-left: 30px;
    font-style: normal;
    font-weight: 300;
}

/*Robit Cards*/
#robotfriends{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.robotCard {
    align-content: center;
    text-align: left;
    padding: 25px;
    margin: 20px;
    width: 20%;
    height: 500px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #4fc1c5;
    background-image: url(assets/card-pattern.png);
}

.robotCard img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    background-color: #303952;
}

