body{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

div {
  margin: 10px 0;
}
