body, #Generator{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFD2A6;
}

p {
    font-size: 16px;
}

blockquote {
    font-style: bold;
}


#quotePrint{
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
    border: 1px outset #C3976A;
    width: 50%;
    height: 100px;
    background-color: #fde7d1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.148);
}

button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    background-color: #D9C6B0;
    border: 5px outset #401D10;
    transition: 0.2s ease-in-out;
}

button:active{
    border: 5px inset #401D10;
}

button:hover{
    background-color: #D9C6B0;
}

#formSection {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#formForm {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 30px;
    border: 1px outset #C3976A;
    width: 500px;
    background-color: #fde7d1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.148);
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#formForm label{
    text-align: left;
}

input {
    height: 25px;
    width: 100%;
}


#searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 35px;
}

#searchSection input{
    margin-right: 30px;
    margin-left: 5px;
}