.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #000;
  color: #fff;
}

header {
  padding: 1em;
  text-align: center;
}

button {
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

main {
  padding: 2em;
  text-align: center;
}
