#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 20px;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}