body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body button {
    width: 150px;
    margin-top: 10px;
}
